@import './header';
@import './footer';
@import './rooms';
@import './roomDetails';
@import './offers';
@import './contact';
@import './aboutUs';
@import './home';
@import './mixin';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px
}

.swiper-button-next::after,
.swiper-button-prev::after {
    background: #ffffff;
    padding: 1rem;
    color: #000000;
    margin-bottom: 12rem;
}

.swiper-pagination-bullet-active {
    background-color: #bead8e !important;
}

:root {
    --swiper-navigation-size: .5rem !important;
    --swiper-pagination-bullet-inactive-color: #333333 
}